.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  z-index: 1;
  top: 0;
  left: 0;
}

/* Add gradient overlay */
.heroSection::after {
  content: '';
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  color: #fff6e5;
  height: 100%;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0,0,0,0));
  z-index: 1;
}

/* Hero text container */
.heroTextContainer {
  position: absolute;
  right: 25%;
  top: 40vh;
  transform: translateX(50%);
  z-index: 2;
  text-align: center;
  width: auto;
  white-space: nowrap;
}

.heroTitle {
  color: #fffdf3;
  font-family: 'Stalemate', cursive;
  font-size: 13vw;
  margin: 0;
  line-height: 0.3;
}

.heroSection h2 {
  color: var(--color-peach);
  font-size: 2.8vw;
  font-weight: 200;
  margin: 0;
  margin-top: 1vw;
  line-height: 2;
}

.heroSection h3 {
  color: var(--color-peach);
  font-size: 1.5vw;
  font-weight: 100;
  margin: 0;
  line-height: 0;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .heroTextContainer {
    right: 35%;
    top: 71vh;
  }

  .heroSection::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.808), rgba(0,0,0,0));
    width: 90%;
  }

  .heroSection .heroTitle {
    font-size: 20vw !important;
  }

  .heroSection h2 {
    font-size: 4.5vw !important;
  }

  .heroSection h3 {
    font-size: 3vw !important;
  }
}

.slideInRight {
  opacity: 0;
  transform: translateX(100vw);
  transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.slideInRight.visible {
  opacity: 1;
  transform: translateX(0);
}

.slideDownTop {
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1), transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.slideDownTop.visible {
  opacity: 1;
  transform: translateY(0);
} 